# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3
/media
/staticfiles

# Environment
.venv
.env
*.env

# Docker
*.pid
*.seed
*.log
docker-compose.override.yml
docker-compose.override.yaml

# Node (if frontend later)
node_modules/
dist/

# IDE
.vscode/
.idea/
